<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Microservice: Product!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div>
        <h1>Welcome to Microservice: Product!</h1>
        <p>To proceed, you need to get an access token.</p>
        
        <form action="/product_token" method="post">
            <label for="consumer-secret">Please insert your Consumer_secret key:</label>
            <input type="text" id="consumer-secret" name="consumer_secret" autocomplete="off" required>
            <input type="submit" id="request-token-btn" value="Request Token">
        </form>
        
    <div>
        <!-- Display the countdown timer -->
        <div id="countdown-timer">
            {% if token_valid_until %}
            <p>Token validity time: <span id="countdown">{{ (token_valid_until - now).total_seconds() }}</span> seconds</p>
            {% endif %}
        </div>
    </div>
        <h2>AVAILABLE SERVICES</h2>
        <h2>#1 Get Product</h2>
        <form action="/get-product" method="post">
            <label for="product-id">Enter Product ID:</label>
            <input type="number" id="product-id" name="product_id" autocomplete="off" required>
            <input type="submit" value="Get Product">
        </form>
        <h2>#2 Delete Product</h2>
        <form action="/delete-product" method="post">
            <label for="product-id">Enter Product ID:</label>
            <input type="number" id="product-id" name="product_id" autocomplete="off" required>
            <input type="submit" value="Delete Product">
        </form>
        <h2>#3 Create Product</h2>
        <h5>Please enter data:</h5>
        <form action="/create-product" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="field" id="name" name="name" autocomplete="new-password" required>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" class="field" id="type" name="type" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="regular_price">Regular Price:</label>
                <input type="text" class="field" id="regular_price" name="regular_price" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="field" id="description" name="description" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="short_description">Short Description:</label>
                <input type="text" class="field" id="short_description" name="short_description" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="url" class="field" id="image" name="image" autocomplete="off" required>
            </div>
            <input type="submit" value="Create Product">
        </form>
        
        <h2>#4 Update Product</h2>
        <h5>Please enter data:</h5>
        <form action="/update-product" method="post">
            <div class="form-group">
                <label for="product_id">Product ID:</label>
                <input type="number" class="field" id="product_id" name="product_id" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="attribute">Attribute:</label>
                <input type="text" class="field" id="attribute" name="attribute" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="value">Value:</label>
                <input type="text" class="field" id="value" name="value" autocomplete="off" required>
            </div>
            <input type="submit" value="Update Product">
        </form>

    <!-- Message Box -->
    <div class="message-window">
        <h2>Messages:</h2>
        <div id="messages">
            <!-- Sent and received messages will be displayed here -->
            <div class="message-box">
                
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>  
        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const requestTokenBtn = document.getElementById("request-token-btn");
        const countdownSpan = document.getElementById("countdown");
    
        // Function to disable the button
        function disableButton() {
            requestTokenBtn.disabled = true;
        }
    
        // Function to enable the button
        function enableButton() {
            requestTokenBtn.disabled = false;
        }
    
        // Timer function to update countdown and check if button should be enabled
        function updateCountdown() {
            const countdownValue = parseInt(countdownSpan.textContent);
    
            if (countdownValue <= 0) {
                enableButton();
            } else {
                countdownSpan.textContent = countdownValue - 1;
                setTimeout(updateCountdown, 1000); // Update every second
            }
        }
    
        // Initial check for countdown value
        if (countdownSpan.textContent <= 0) {
            enableButton();
        } else {
            disableButton();
            // Start the timer only if the countdown value is greater than 0
            updateCountdown();
        }
    });
</script>
 
</body>
</html>
  
