/* styles.css */

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column {
    width: 45%; /* Adjust the width as needed */
    padding-right: 20px;
}

.right-column {
    width: 45%; /* Adjust the width as needed */
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles for the message box */
.message-box {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
    border: 1px solid #000; /* Add a border to the message box */
    padding: 10px; /* Add padding for better readability */
    background-color: rgb(19, 199, 231);
}

/* Set the background color of the entire page to green */
body {
    background-color: rgb(70, 243, 70);
}